@import "../../../theme/colors"; 


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.body {
  font-size: 15px;
  span {
    font-weight: 550;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px 20px 10px;
  border-bottom: 1px solid $color-grey;
  &__item {
    display: flex;
    margin: 0 10px 10px 10px;
    button {
      width: auto;
      margin-top: 15px;
      align-self: flex-end;
    }

    input {
      width: auto;
      margin-right: 5px;
      border: 1px solid $color-grey;
    }
  }
}

@media (max-width: 736px) {
  .filters {
    flex-direction: column;

    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  label {
    font-size: 14px;
    color: rgb(87, 87, 87);
    margin-top: 10px;
  }
}

.empty-message {
  background-color: $color-primary;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;

  &__text {
    margin: 0 auto;
    color:  $color-white;
  }
}
