<form class="filters" *ngIf="filtersForm" [formGroup]="filtersForm">
    <div class="filters__item">
        <div class="form-group">
            <label for="id">Buscar por ID</label>
            <input type="number" id="id" formControlName="id">
        </div>
        <button class="btn btn-secondary filters__btn" [disabled]="getControl('id')?.value?.length <= 0" (click)="getById()">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>

    <div class="filters__item">
        <div class="form-group">
            <label for="date-start">Rango inicial</label>
            <input type="date" id="date-start" formControlName="dateStart">
        </div>
        <div class="form-group">
            <label for="date-end">Rango final</label>
            <input type="date" id="date-end" formControlName="dateEnd">
        </div>
        <button class="btn btn-secondary filters__btn" (click)="getByDates()"
            [disabled]="getControl('dateStart')?.value?.length <= 0 || getControl('dateEnd')?.value?.length <= 0">
            <i class="fa fa-search" aria-hidden="true"></i> </button>
    </div>

    <div class="filters__item">
        <button class="btn btn-danger filters__btn filters__btn--alone" (click)="clearFilters()"> Limpar filtros </button>
    </div>
</form>

<div class="card-container">
    <ng-container *ngIf="soccerTeams.length > 0; else elseBlock">
        <app-general-card style="width: 250px" *ngFor="let team of soccerTeams" [title]="team.nombre">
            <div class="body">
                <p><img class="img" height="20" src="assets/icons/stadium.svg" alt=""> {{ team.estadio }}</p>
                <p><img class="img" height="20" src="assets/icons/web-page.svg" alt=""> {{ team.sitioWeb }} </p>
                <p><img class="img" height="20" src="assets/icons/country.svg" alt=""> {{ team.nacionalidad }} </p>
                <p><img class="img" height="20" src="assets/icons/birthday-cake.svg" alt=""> {{ team.fundacion |
                    date:'MMMM d, y' : 'UTC' }} </p>
                <p><img class="img" height="20" src="assets/icons/trainer.svg" alt=""> {{ team.entrenador }} </p>
                <p><img class="img" height="20" src="assets/icons/box.svg" alt=""> {{ team.capacidad | number }} </p>
                <p><img class="img" height="20" src="assets/icons/money.svg" alt=""> ${{ team.valor | number }} </p>
                <div *ngIf="userSession" class="btn-group">
                    <button type="reset" class="btn btn-danger" (click)="onDelete(team.id)">Eliminar</button>
                    <button class="btn btn-primary" (click)="onEdit(team.id)">Editar</button>
                </div>
            </div>
        </app-general-card>
    </ng-container>
    <ng-template #elseBlock>
        <div class="empty-message">
            <h6 class="empty-message__text">¡No se encontraron resultados para esta busqueda!</h6>
        </div>
    </ng-template>
</div>




<div class="paginator-container" *ngIf="hasMultiRegisters">
    <app-paginator [pageSize]="pageSize" [pageIndex]="page" [totalItems]="totalElements"
        (pageIndexChanged)="onPageIndexChanged($event)"></app-paginator>
</div>