
<div [ngClass]="responsiveClass" id="myTopnav">
    <a *ngIf="!userSession" [routerLink]="['/login']" routerLinkActive="active">Iniciar Sesión</a>
    <a [routerLink]="['/dashboard/equipment-list']" routerLinkActive="active">Listado de equipos</a>
    <ng-container *ngIf="userSession">
        <a [routerLink]="['equipment-register']" routerLinkActive="active">Registrar equipo</a>
        <a (click)="logout()" class="close-session">Cerrar Sesión</a>
        <a class="icon" (click)="toggleIcon()"><i class="fa fa-bars"></i></a>
    </ng-container>
</div>