<header class="site-header">
    <div class="site-identity">
        <h1>Equipo de Futbol</h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a [routerLink]="['/dashboard/equipment-list']" routerLinkActive="link-active">Listado de equipos</a></li>
            <li *ngIf="userSession"><a [routerLink]="['equipment-register']" routerLinkActive="link-active" >Registrar equipo</a></li>
            <li *ngIf="userSession"><a (click)="logout()">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>