/* You can add global styles to this file, and also import other style files */
@import "theme/typography";
@import "theme/inputs";
@import "theme/buttons";
@import "theme/colors";
@import "theme/alerts";

body,
html {
  font-family: "roboto", "arial", sans-serif;
}

.my-custom-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
}
